<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Detalhes da Sala</title>
</head>
<body>
    <h1>Sala de <span id="nomeMotorista"></span> - <span id="cidade"></span></h1>
    <div>
        <h3>Alunos - 7h às 12h</h3>
        <ul id="lista7_12"></ul>
        <h3>Alunos - 13h às 18h</h3>
        <ul id="lista13_18"></ul>
        <h3>Alunos - 7h às 18h</h3>
        <ul id="lista7_18"></ul>
    </div>
    <script src="/public/js/script.js"></script>
</body>
</html>
